<div
  ref="raWrapper"
  v-loading.fullscreen.lock="loading"
  element-loading-text="加载中..."
  class="ra-layout"
  :class="[
    'ra-north--' + $store.state.headerSkin,
    'ra-west--' + $store.state.asideSkin,
    {
      'ra-layout--center': $store.state.wrapperCenter,
      'ra-north--fixed': $store.state.headerFixed,
      'ra-west--fixed': $store.state.asideFixed,
      'ra-west--fold': $store.state.westFlod,
      'ra-west--top': $store.state.asideTop,
      'ra-east--fixed': $store.state.controlFixed,
      'ra-east--open': $store.state.controlOpen,
      'ra-center-tabs__header--fixed': $store.state.mainTabsHeaderFixed
    }
  ]">
  <template v-if="!loading">
    <north />
    <west />
    <center />
    <east />
    <south />
  </template>
</div>